{% extends "base.html" %}

{%block title%}Main Page{% endblock title %}

{% block content %}

    <div class="jumbotron bg-info text-white">
        <h1>Ninja Tech Forum</h1>
        <p>Welcome to Ninja Tech Forum - the best forum for tech fans</p>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-lg-8 col-lg-offset-2">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Topic</th>
                  <th scope="col">Author</th>
                  <th scope="col">Created</th>
                </tr>
              </thead>
              <tbody>
                {% for topic in topics %}
                    <tr>
                      <td><a href="/topic/{{ topic.key.id() }}/details">{{ topic.title }}</a></td>
                      <td>{{ topic.author_email }}</td>
                      <td>{{ topic.created.strftime('%d.%m.%Y at %H:%M') }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
{% endblock content %}